@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

#root {
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}

.launch {
  background: #1a1a1a;
  padding: 5px;
  margin: 10px;
}
